
h1 {
    font-size:700%;
    margin: 90px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    color: #FCDAB7;
}
.mech{
        font-family: 'Press Start 2P', cursive;
        font-size:80%;
        color: #FCDAB7;
}

h2 {
    font-size:175%;
    font-family:  'Arvo', serif;
    color: #34495E;
    font-weight: normal;

}
h3 {
    font-size:120%;
    font-family: 'PT Sans', sans-serif;
    color:#2E2E2E;
}
a {
  color: #11999E;
}
.top-container{
    background-color: #34495E; /* Navy Blue */
    padding-top: 60px;
    position: relative;
}
.bottom-container{
    background-color: #7F8C8D; /* Gray-Blue */
    padding-bottom: 5px;
    padding-top: 25px;
}
.middle-container{
    background-color: #BFBFBF; /* Gray */
}



body {
    margin:0px;
    text-align:center;
    font-family:georgia,serif;
    color:#444444;
}
.left-cloud{
    position:absolute;
    left:15%;
    top:40%;
    width:12vw;
}
.right-cloud{
    position:absolute;
    left:70%;
    top:20%;
    width:12vw;
}
.sun{
    position:absolute;
    left:58%;
    top:23%;
    width:6vw;
}
.flag{
    position:absolute;
    left: 35%;
    top: 59%;
    width:4vw;
}
.hiker{
    position: absolute;
    left: 25%;  /* relative to the container width */
    top: 68%;   /* relative to the container height */
    width: 3vw; /* relative to the viewport width */
    transform: rotate(-20deg);
}

.eng{
    position:absolute;
    left:59%;
    top:57%;
    width:4vw;
}
.data{
    position:absolute;
    left:57%;
    top:51%;
    width:4vw;
}
.mountain{
    position:relative;
    width:100%;
    height: auto;
    max-height: 36vh;
}
.wind{
    position:absolute;
    left:25%;
    top:60%;
    width:6vw;
   }

.deepak{
    width:7%;
    margin-top:10px;
}
.my-desc{
    margin: 5px 250px 60px 250px;
    }
.Education ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.Education li {
    margin-bottom: 20px;
    padding-bottom: 5px;
}


p{
    line-height:2;
    }
.skill-row{
    width:50%;
    margin:50px auto 50px auto;
    text-align:left;
    line-height:2;
}

.contact-me{
    width:50%;
    margin:50px auto 50px auto;
    line-height:2;
}


.project{
    width:50%;
    margin:50px auto 50px auto;
    text-align:left;
    line-height:2;
}

.data-img{
    width:20%;
    margin-top:10px;
    margin-right:30px;
    float:left;
}
.code-img{
    width:20%;
    margin-top:50px;
    margin-left:30px;
    float:right;
}

.ml-img{
    width:20%;
    margin-top:10px;
    margin-right:30px;
    float:left;
}

.cloud-img{
    width:20%;
    margin-top:10px;
    margin-left:30px;
    float:right;
}

.comm-img{
    width:20%;
    margin-top:10px;
    margin-right:30px;
    float:left;
}


.project-1-img{
    width:20%;
    margin-right:30px;
    margin-bottom:50px;
    margin-top:50px;
    float:left;
}

.project-2-img{
    width:20%;
    margin-left:30px;
    margin-bottom:50px;
    margin-top:50px;
    float:right;
}



.project-3-img{
    width:20%;
    margin-right:30px;
    margin-bottom:50px;
    margin-top:50px;
    float:left;
}

.project-4-img{
    width:20%;
    margin-left:30px;
    margin-bottom:50px;
    margin-top:50px;
    float:right;
}

.project-5-img{
    width:20%;
    margin-right:30px;
    margin-bottom:50px;
    margin-top:50px;
    float:left;
}

.project-6-img{
    width:20%;
    margin-left:30px;
    margin-bottom:30px;
    margin-top:30px;
    float:right;
}


.contact-me{
    margin-bottom:25px;
    }

.img-btn{
    width:8%;
    }
.link-btn{
    width:2%;
    margin:7px;
    }
.github-btn{
    width:2%;
    margin:7px;
    }
.kaggle-btn{
    width:2%;
    margin:7px;
    }
hr{
    border-style: dotted None None None;
    width:8%;
    border-width:10px;
    border-color:#7F8C8D;
    }
.copyright{
    color:#EAF6F6;
    font-size:13px;
    }


